---
import HeaderContact from "../components/HeaderContact.astro"
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Salon de l'Entrepreneuriat Numérique et de L'Inteligence Artificielle">
     <main>
          <HeaderContact/>
          <Footer/>
     </main>
</Layout>
