---
import HeaderParticipation from "../components/HeaderParticipation.astro"
import CallToAction from "../components/CallToAction.astro"
import Communication from "../components/Communication.astro"
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Salon de l'Entrepreneuriat Numérique et de L'Inteligence Artificielle">
     <main>
          <HeaderParticipation/>
          <Communication/>
          <CallToAction/>
          <Footer/>
     </main>
</Layout>
