---
import HeaderProgramme from "../components/HeaderProgramme.astro"
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Programme from "../components/Programme.astro"
---

<Layout title="Programme de senia">
     <main>
          <HeaderProgramme/>
          <Programme/>
          <Footer/>
     </main>
</Layout>
