---
import HeaderRessources from "../components/HeaderRessources.astro"
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Ressource from "../components/Ressource.astro"
---

<Layout title="Salon de l'Entrepreneuriat Numérique et de L'Inteligence Artificielle">
     <main>
          <HeaderRessources/>
          <Ressource/>
          <Footer/>
     </main>
</Layout>
