---

---

<section class="min-h-screen w-full py-8 bg-slate-200">
    <div class="w-full min-h-screen bg-no-repeat bg-cover relative"   style="background-image: url('/ouverture.jpg');">
        <div class="bg-gradient1 absolute inset-0 bg-opacity-50 flex">
            <div class="m-auto   w-[800px] min-h-12 bg-black bg-opacity-70 text-white flex flex-col items-center space-y-3 p-10">
                <h2 class="sm:text-sl md:text-2xl lg:text-4xl font-bold text-center font-archivo">INTÉRESSÉ PAR LE SENIA 2024 ?</h2>
                <p class="text-center">Ne manquez pas l’événement de l’année ! Réservez votre place dès maintenant pour la <strong class=" font-bold"> Troisième Édition du Salon de l’Entrepreneuriat Numérique et de l’Intelligence Artificielle.</strong>
                    Rejoignez-nous pour un moment d’inspiration, de réseautage et d’innovation.</p>
                    <a href=""><span class=" inline-block text-sm uppercase mx-auto my-6 text-white font-[600] bg-gradient-to-r from-gradient3 from-0% via-gradient2 via-45% to-[#df0838] to-90% hover:bg-gradient-to-r hover:from-[#df0838] hover:from-0%  hover:via-gradient2 hover:via-45% hover:to-gradient3 hover:to-90% transition-all ease-in transform hover:-translate-y-2 p-2 py-4 rounded-tl-full rounded-bl-full rounded-tr-full text-center">S'inscrire maintenant</span></a>
            </div>

        </div>
       
    </div>
    

</section>