---

---

<section class="min-h-[500px] bg-black flex py-5">
    <div class="m-auto flex text-white items-start gap-12 flex-wrap">
       <div class="flex flex-col justify-evenly space-y-6">
          <div><a href=""><img src="/logo-senia.png" alt="" class="maw-w-[100%] h-[74px] "></a></div>
          <div><p class="text-[#737373] max-w-[400px]">Troisième Édition du Salon de l’Entrepreneuriat Numérique et de l’Intelligence Artificielle</p></div>
          <div><img src="/logo-mnd2.png" alt="" class="max-w-[100%] h-[74px]"></div>
       </div>
       <div class="flex flex-col justify-evenly">
          <div class="space-y-4">
            <h2 class="font-[600]">Lieu de l'événement</h2>
            <span class="flex items-center gap-3"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-pin-distance-fill"></i></span> <span class="text-[#747474]">
                Palais des Congrès, Cotonou</span></span>
          </div>
          <div class="space-y-3">
            <h2 class="font-[600]">Contacts</h2>
            <ul class="">
                <li class="flex items-center gap-3"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-smartphone-line"></i></span><span class="text-[#747474]">+299 65 72 12 71 / 97 08 70 16</span></li>
                <li class="flex items-center gap-3"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-home-office-fill"></i></span><span class="text-[#747474]">Cotonou – Ganhi, Bénin, Lot 0008 Immeuble Gomez</span></li>
                <li class="flex items-center gap-3"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-mail-line"></i></span><span class="text-[#747474]">senia.info@gouv.bj</span></li>
            </ul>
          </div>
       </div>
       <div class="flex flex-col justify-evenly">
        <h2>Liens utiles</h2>
        <ul class="space-y-3 pt-4">
         <li><span class="text-sm font-[500] text-gradient1"> > </span><span> Présentation</span></li>
         <li><span class="text-sm font-[500] text-gradient1"> > </span><span>Programmes</span></li>
         <li><span class="text-sm font-[500] text-gradient1"> > </span><span>Participation</span></li>
         <li><span class="text-sm font-[500] text-gradient1"> > </span><span>Magazines</span></li>
         <li><span  class="text-sm font-[500] text-gradient1"> > </span><span>Galerie</span></li>
        </ul>
       </div>
       <div class="flex flex-col justify-evenly space-y-3">
        <h2>Suivez-nous</h2>
        <ul class="flex gap-5">
            <li><span class="w-8 h-8 rounded-full bg-[#747474] hover:bg-gradient1 flex items-center justify-center p-3"><i class="ri-facebook-fill"></i></span></li>
            <li><span class="w-8 h-8 rounded-full bg-[#747474] hover:bg-gradient1 flex items-center justify-center p-3"><i class="ri-tiktok-fill"></i></span></li>
        </ul>
       </div>
    </div>
</section>