---

---

<section class="min-h-[100px] bg-slate-200 flex py-10 p-2">
    <div class="m-auto flex flex-col">
     <h2 class="md:text-sm sm:text-sm lg:text-xl uppercase inline-block mx-auto my-6 text-white font-[500] bg-gradient-to-r from-gradient3 from-0% via-gradient2 via-45% to-[#df0838] to-90% hover:bg-gradient-to-r hover:from-[#df0838] hover:from-0%  hover:via-gradient2 hover:via-45% hover:to-gradient3 hover:to-90% transition-all ease-in  p-2 rounded-l-full rounded-tr-full text-center">Découvrez le guest speaker</h2>
     <div class="max-w-[100%] h-auto m-auto"  data-aos="fade-up"
     data-aos-duration="1000">
        <img src="/speakers.jpg" alt="" class="w-full h-full">
     </div>
    </div>
</section>