---

---
<nav class="w-full mx-auto flex justify-evenly items-center text-white">
   <a href=""><img src="/logo-senia.png" alt="" class=" maw-w-[100%] h-[74px] "></a>
    <ul class="flex gap-5 uppercase text-sm font-[500]">
        <li><a href="" class="hover:text-gradient1">programmes</a></li>
        <li><a href="" class="hover:text-gradient1">participation</a></li>
        <li><a href="" class="hover:text-gradient1">ressources</a></li>
        <li><a href="" class="hover:text-gradient1">galerie</a></li>
        <li><a href="" class="hover:text-gradient1">contact</a></li>
    </ul>
    <div class="text-sm font-[500] bg-gradient-to-r from-gradient3 from-0% via-gradient2 via-45% to-[#df0838] to-90% hover:bg-gradient-to-r hover:from-[#df0838] hover:from-0%  hover:via-gradient2 hover:via-45% hover:to-gradient3 hover:to-90% transform transition-all ease-in hover:-translate-y-2 p-2 rounded-l-full rounded-tr-full">
       <a href="">HACKATHON IA</a>
    </div>
</nav>