---

---

<section class="w-full min-h-screen bg-slate-200 font-monteserrat flex pb-24">
    <div class="w-full flex gap-4 justify-evenly items-center flex-wrap">
        <div class="w-[500px]">
            <div class="w-full bg-white min-h-80  relative">
                <img src="/logo-mnd.png" alt="" class="max-w-[100%] h-auto">
                <div class="w-60 h-60 bg-white  float-end relative -top-[62px] -right-6 flex flex-col">

                 <img src="/ministre.png" alt="" class="max-w-[100%] h-full p-2 object-cover m-auto">
                 <p class="py-12">
                    Avec la participation de Madame <strong class="text-sm font-semibold">Aurelie I. ADAM SOULE ZOUMAROU</strong>  Ministre du Numérique et de la Digitalisation du Bénin</p>
                </div>
                <div class=" float-end relative top-10">
                    <a href=""><span class="text-sm uppercase mx-auto my-6 text-white font-[600] bg-gradient-to-r from-gradient3 from-0% via-gradient2 via-45% to-[#df0838] to-90% hover:bg-gradient-to-r hover:from-[#df0838] hover:from-0%  hover:via-gradient2 hover:via-45% hover:to-gradient3 hover:to-90% transition-all ease-in  p-2 py-2 rounded-tl-full rounded-bl-full rounded-tr-full  flex gap-3 items-center"><span class="w-8 h-8 bg-white rounded-full p-2 flex items-center justify-center text-black"><i class="ri-play-fill"></i></span> Découvrir</span></a>
                </div>
            </div>
            
          
        </div>
        <div class="w-[600px] space-y-2">
            <h3 class="text-sm uppercase inline-block mx-auto my-6 text-white font-[500] bg-gradient-to-r from-gradient3 from-0% via-gradient2 via-45% to-[#df0838] to-90% hover:bg-gradient-to-r hover:from-[#df0838] hover:from-0%  hover:via-gradient2 hover:via-45% hover:to-gradient3 hover:to-90% transition-all ease-in  p-2 rounded-l-full rounded-tr-full text-center">objectif principal du senia 2024</h3>
            <h2 class="uppercase font-[600]">1er SALON DÉDIÉ À L'INTELLIGENCE ARTIFICIELLE (IA) ORGANISÉ PAR LE MINISTÈRE DU NUMÉRIQUE ET DE LA DIGITALISATION DU BÉNIN</h2>
            <p class=" text-justify">L’objectif général visé par la troisième (3ième) édition du SENIA, est de créer un espace dynamique, collaboratif et novateur, où les acteurs clés de l’intelligence artificielle, les entrepreneurs visionnaires et les décideurs stratégiques se réunissent pour explorer, comprendre et catalyser la convergence entre l’IA et l’entrepreneuriat numérique.</p>
        
            <p class=" text-justify">Et c’est pourquoi le thème «IA et Entrepreneuriat Numérique : la Convergence des Possibilités», se profile comme une arène dynamique où la vision de demain rencontre la réalité entrepreneuriale d’aujourd’hui.</p>
            <h3 class="text-sm uppercase inline-block mx-auto my-6 text-white font-[500] bg-gradient-to-r from-gradient3 from-0% via-gradient2 via-45% to-[#df0838] to-90% hover:bg-gradient-to-r hover:from-[#df0838] hover:from-0%  hover:via-gradient2 hover:via-45% hover:to-gradient3 hover:to-90% transition-all ease-in  p-2 rounded-l-full rounded-tr-full text-center">Pourquoi participer ?</h3>
            <p>6 raisons qui motivent votre présence à la troisième édition du SENIA :</p>
            <div class="space-y-2">
                <div class="flex items-center gap-2"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-newspaper-line"></i></span><span>
                    S’informer sur l’actualité et les reformes liées à l’IA</span></div>
                <div class="flex items-center gap-2"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-share-line"></i></span><span>Découvrir les projets d’investissements et les potentialités qu’offre l’IA</span></div>
                <div class="flex items-center gap-2"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-global-line"></i></span><span>Rencontrer & échanger avec les acteurs de l’écosystème numérique et de l’IA</span></div>
                <div class="flex items-center gap-2"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-global-line"></i></span><span>Présenter et découvrir des nouveautés et innovations</span></div>
                <div class="flex items-center gap-2"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-global-line"></i></span><span>Identifier de nouveaux fournisseurs et partenaires</span></div>
                <div class="flex items-center gap-2"><span class="text-3xl bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text"><i class="ri-global-line"></i></span><span>Réseauter</span></div>
            </div>
        </div>
    </div>

</section>